@model IEnumerable<Hovedopgave1.Models.Bruger>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BrugerListe</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body>
   <table class="table">
       <tr>
           <th>@Html.DisplayNameFor(model => model.Brugernavn)</th>
           <th>@Html.DisplayNameFor(model => model.Password)</th>
           <th>@Html.DisplayNameFor(model => model.Rettighed)</th>

       </tr>
       @foreach (var s in Model)
       {
       <tr>
           <td>@Html.DisplayFor(models => s.Brugernavn)</td>
           <td>@Html.DisplayFor(models => s.Password)</td>
           <td>@Html.DisplayFor(models => s.Rettighed)</td>

           <td>@Html.ActionLink("Rediger", "RedigerBruger", "Home", new {id = s.Id }, new { @class = "btn btn-primary" })</td>
           <td>
               @using (Html.BeginForm("BrugerListe", "Home"))
               {
                   @Html.Hidden("Id", s.Id)
               <input type="submit" id="Sletbruger" class="btn btn-primary" value="Slet" />
               }
           </td>
       </tr>
       }
   </table>

</body>
</html>
