
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forside</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <style>
        input[type=button] {
            cursor: pointer;
            font-size: medium;
            background-color: #000000;
            color: white;
            text-align: center;
            width: 150px;
            height: 40px;
        }
        button {
            cursor: pointer;
            font-size: medium;
            background-color: #000000;
            color: white;
            text-align: center;
            width: 150px;
            height: 40px;
        }
        #FD {
            position: absolute;
            top: 0.1%;
            left: 2%;

        }
        #Ftekst {
            color: white;
        }
        #Ftekst2 {
            color: black;
        }
    body { background: url('../../Images/PA_logo_stor.jpg') no-repeat center fixed; 
           background-size:cover; }
    </style>
</head>
<body>
        
        <div id="FD">
            <div>
                <h3 align="center" id="Ftekst2" style="font-family:'Times New Roman'">Database til kandidater</h3>
            </div>
            <div>
                <input type="button" class="button" value="Opret Student" onclick="location.href='@Url.Action("OpretStudent", "Home")'" />
                <input type="button" class="button" value="Student Liste" onclick="location.href='@Url.Action("StudentListe", "Home")'" />
            </div>
            <br />
            <div>
                <input type="button" class="button" value="Opret Virksomhed" onclick="location.href='@Url.Action("OpretVirksomhed", "Home")'" />
                <input type="button" class="button" value="Virksomheds Liste" onclick="location.href='@Url.Action("VirksomhedListe", "Home")'" />
            </div>
            <br />
            <div>
                <input type="button" class="button" value="Opret Tilflytter" onclick="location.href='@Url.Action("OpretTilføjer", "Home")'" />
                <input type="button" class="button" value="Tilflytter Liste" onclick="location.href='@Url.Action("TilføjerListe", "Home")'" />
            </div>
            <br />
            <div>
                <input type="button" class="button" value="Opret Bruger" onclick="location.href='@Url.Action("OpretBruger", "Home")'" />
                <input type="button" class="button" value="Bruger Liste" onclick="location.href='@Url.Action("BrugerListe", "Home")'" />
            </div>
            <br />
            <div>
              <button type="button" class="button" onclick="location.href='@Url.Action("Log_Ud","Bruger")'">Log Ud </button>

            </div>
        </div>
</body>
</html>
