@model Hovedopgave1.Models.Students
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OpretStudent</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body onload="getCurrentdate()">
    <div>
        * Skal udfyldes
    </div>
    @using (Html.BeginForm("OpretStudent", "Home", FormMethod.Post))
    {
    <div>

        @Html.TextBoxFor(m => m.Navn, new { @id="Navn", @placeholder = "Navn" })*        
        @Html.ValidationMessageFor(model => model.Navn, "", new { @class = "text-danger" })

        @Html.TextBoxFor(m => m.Adresse, new { @id="Adresse", @placeholder ="Adresse"})*
        @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })

        @Html.TextBoxFor(m => m.Bopæl, new { @id="Bopæl", @placeholder ="Bopæl"})*
        @Html.ValidationMessageFor(model => model.Bopæl, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        @Html.TextBoxFor(m => m.Nationalitet, new { @id = "Nationalitet", @placeholder = "Nationalitet" })*
        @Html.ValidationMessageFor(model => model.Nationalitet, "", new { @class = "text-danger" })

        @Html.TextBoxFor(m => m.SprogKundskab, new { @id = "SprogKundskab", @placeholder = "SprogKundskab" })*
        @Html.ValidationMessageFor(model => model.SprogKundskab, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>

        @Html.TextBoxFor(m => m.Telefon, new { @id = "Telefon", @placeholder = "Telefon" })*
        @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })

        @Html.TextBoxFor(m => m.Mail, new { @id = "Mail", @placeholder = "Mail" })*
        @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        @Html.TextBoxFor(m => m.Uddannelse, new { @id = "Uddannelse", @placeholder = "Uddannelse" })*
        @Html.ValidationMessageFor(model => model.Uddannelse, "", new { @class = "text-danger" })

        @Html.TextBoxFor(m => m.Periode, new { @id = "Periode", @placeholder = "Periode" })*
        @Html.ValidationMessageFor(model => model.Periode, "", new { @class = "text-danger" })

        @Html.TextBoxFor(m => m.Semester, new { @id = "Semester", @placeholder = "Nuværende Semester" })*
        @Html.ValidationMessageFor(model => model.Semester, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        Specialisering
    </div>
    <div>
        @Html.TextAreaFor(m => m.Specialisering, new { @id = "Specialisering", @placeholder = "Skriv din Specialisering Her, ellers skriv 'Ingen'" })*
        @Html.ValidationMessageFor(model => model.Specialisering, "", new { @class = "text-danger" })

    </div>
    <br />
    <div>
        @Html.TextBoxFor(m => m.Overbygning, new { @id = "Overbygning", @placeholder = "Overbygning" })
    </div>
    <br />
    <div>
        <pre>Semesterprojekt           Praktik              Hovedopgave</pre>
    </div>
    <div>
        @Html.TextAreaFor(m => m.SemesterProjekt, new { @id = "SemesterProjekt", @placeholder = "Skriv dit Semester Projekt, hvis du har et" })
        @Html.TextAreaFor(m => m.Praktik, new { @id = "Praktik", @placeholder = "Skriv din Praktik Projekt/Opgave, hvis du har et " })
        @Html.TextAreaFor(m => m.Hovedopgave, new { @id = "Hovedopgave", @placeholder = "Skriv din Hovedopgave, hvis du har et " })
    </div>

    <br />
    <div>
        @Html.TextBoxFor(m => m.OpgaveType, new { @id = "OpgaveType", @placeholder = "OpgaveType" })
        
    </div>
    <br />
    <div>
        @Html.TextBoxFor(m => m.StudieJob, new { @id = "StudieJob", @placeholder = "StudieJob" })
    </div>
    <br />
    <div>
        Har du egen transport(bil)*
        @Html.EditorFor(x => x.Transport) Klik på checkboxen hvis ja

    </div>
    <br />
    <div>
        Dato for oprettelse
    </div>
    <div>
        <input type="text" id="DatoForOprettelse" name="DatoForOprettelse" placeholder="DatoForOprettelse" />*
    </div>
    <br />
    <div>
        <input type="submit" id="OpretStudent" value="Opret" />
    </div>
    }

    <script>
        var dateObj = new Date();
        var month = dateObj.getUTCMonth() + 1; //months from 1-12
        var day = dateObj.getUTCDate();
        var year = dateObj.getUTCFullYear();

        newdate = year + "/" + month + "/" + day;

        function getCurrentdate() {
            document.getElementById('DatoForOprettelse').value = day + "/" + month + "/" + year;
        }
    </script>
</body>
</html>