@model IEnumerable<Hovedopgave1.Models.Students>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentListe</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <style>
        .divider{
            width:5px;
            height:auto;
            display:inline-block;
        }

    </style>
</head>
<body>
    <div> 
        @using (Html.BeginForm("SøgPåStudentNavn", "Home"))
        {
        <input type="text" placeholder="Søg på Navn" />
        <input type="submit" value="Søg" />
        }
    </div>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Navn)</th>
            <th>@Html.DisplayNameFor(model => model.Adresse)</th>
            <th>@Html.DisplayNameFor(model => model.Bopæl)</th>
            <th>@Html.DisplayNameFor(model => model.Nationalitet)</th>
            <th>@Html.DisplayNameFor(model => model.SprogKundskab)</th>
            <th>@Html.DisplayNameFor(model => model.Telefon)</th>
            <th>@Html.DisplayNameFor(model => model.Mail)</th>
            <th>@Html.DisplayNameFor(model => model.Uddannelse)</th>
            <th>@Html.DisplayNameFor(model => model.Periode)</th>
            <th>@Html.DisplayNameFor(model => model.Semester)</th>
            <th>@Html.DisplayNameFor(model => model.Specialisering)</th>
            <th>@Html.DisplayNameFor(model => model.Overbygning)</th>
            <th>@Html.DisplayNameFor(model => model.SemesterProjekt)</th>
            <th>@Html.DisplayNameFor(model => model.Praktik)</th>
            <th>@Html.DisplayNameFor(model => model.Hovedopgave)</th>
            <th>@Html.DisplayNameFor(model => model.OpgaveType)</th>
            <th>@Html.DisplayNameFor(model => model.StudieJob)</th>
            <th>@Html.DisplayNameFor(model => model.Transport)</th>
            <th>@Html.DisplayNameFor(model => model.DatoForOprettelse)</th>
        </tr>


        @foreach (var item in Model) 
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Navn)</td>
            <td>@Html.DisplayFor(modelItem => item.Adresse)</td>
            <td>@Html.DisplayFor(modelItem => item.Bopæl)</td>
            <td>@Html.DisplayFor(modelItem => item.Nationalitet)</td>
            <td>@Html.DisplayFor(modelItem => item.SprogKundskab)</td>
            <td>@Html.DisplayFor(modelItem => item.Telefon)</td>
            <td>@Html.DisplayFor(modelItem => item.Mail)</td>
            <td>@Html.DisplayFor(modelItem => item.Uddannelse)</td>
            <td>@Html.DisplayFor(modelItem => item.Periode)</td>
            <td>@Html.DisplayFor(modelItem => item.Semester)</td>
            <td>@Html.DisplayFor(modelItem => item.Specialisering)</td>
            <td>@Html.DisplayFor(modelItem => item.Overbygning)</td>
            <td>@Html.DisplayFor(modelItem => item.SemesterProjekt)</td>
            <td>@Html.DisplayFor(modelItem => item.Praktik)</td>
            <td>@Html.DisplayFor(modelItem => item.Hovedopgave)</td>
            <td>@Html.DisplayFor(modelItem => item.OpgaveType)</td>
            <td>@Html.DisplayFor(modelItem => item.StudieJob)</td>
            <td>@Html.DisplayFor(modelItem => item.Transport)</td>
            <td>@Html.DisplayFor(modelItem => item.DatoForOprettelse)</td>

            <td>@Html.ActionLink("Rediger", "RedigerStudent", "Home", new {id = item.Id }, new { @class = "btn btn-primary" })</td>
            <td>
                @using (Html.BeginForm("StudentListe", "Home"))
                {
                    @Html.Hidden("Id", item.Id)

                    <input type="submit" class="btn btn-primary" value="Slet" />
                }
            </td>

        </tr>
        }
    </table>
</body>
</html>
