@model IEnumerable<Hovedopgave1.Models.Tilføjer>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TilflytterListe</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <style>
        .divider {
            width: 5px;
            height: auto;
            display: inline-block;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("TilføjerListe", "Home"))
    {
    <div>
        <input type="text" placeholder="Søg på uddannelse" name="Uddannelse" />
        <input type="text" placeholder="Søg på Job Ønske" name="JobØnske" />
        <input type="text" placeholder="Søg på Faglige Kompetencer" name="Kompetence" />
        <input type="text" placeholder="Søg på 1 for tilflyttere" name="Flytning" />
        <input type="submit" value="Søg" />
        <input type="reset" value="Ryd Felter" />
    </div>
    }
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Navn)</th>
            <th>@Html.DisplayNameFor(model => model.Vej)</th>
            <th>@Html.DisplayNameFor(model => model.By)</th>
            <th>@Html.DisplayNameFor(model => model.Telefon)</th>
            <th>@Html.DisplayNameFor(model => model.Mail)</th>
            <th>@Html.DisplayNameFor(model => model.PrimærUddannelse)</th>
            <th>@Html.DisplayNameFor(model => model.SekundærUddannelse)</th>
            <th>@Html.DisplayNameFor(model => model.Erhvervserfaring)</th>
            <th>@Html.DisplayNameFor(model => model.JobØnske)</th>
            <th>@Html.DisplayNameFor(model => model.FagligeKompetencer)</th>
            <th>@Html.DisplayNameFor(model => model.PersonligeKompetencer)</th>
            <th>@Html.DisplayNameFor(model => model.GenereltInfo)</th>
            <th>@Html.DisplayNameFor(model => model.ØnskerAtFlytte)</th>
            <th>@Html.DisplayNameFor(model => model.CV)</th>
        </tr>
        @foreach (var s in Model)
        {
        <tr>
            <td>@Html.DisplayFor(models => s.Navn)</td>
            <td>@Html.DisplayFor(models => s.Vej)</td>
            <td>@Html.DisplayFor(models => s.By)</td>
            <td>@Html.DisplayFor(models => s.Telefon)</td>
            <td>@Html.DisplayFor(models => s.Mail)</td>
            <td>@Html.DisplayFor(models => s.PrimærUddannelse)</td>
            <td>@Html.DisplayFor(models => s.SekundærUddannelse)</td>
            <td>@Html.DisplayFor(models => s.Erhvervserfaring)</td>
            <td>@Html.DisplayFor(models => s.JobØnske)</td>
            <td>@Html.DisplayFor(models => s.FagligeKompetencer)</td>
            <td>@Html.DisplayFor(models => s.PersonligeKompetencer)</td>
            <td>@Html.DisplayFor(models => s.GenereltInfo)</td>
            <td>@Html.DisplayFor(models => s.ØnskerAtFlytte)</td>
            <td>@Html.ActionLink("Hent CV", "DownloadTilføjerCV", "Home", new { id = s.Id, cvtitel = s.CVTitel }, new { @target = "_blank" })</td>

            <td>@Html.ActionLink("Rediger", "RedigerTilføjer", "Home", new { id = s.Id }, new { @class = "btn btn-primary" })</td>
            <td>@Html.ActionLink("Slet", "TilføjerDelete", "Home", new { id = s.Id }, new { @class = "btn btn-primary" })</td>
        </tr>

        }
    </table>
</body>
</html>
